.wrapper{
    padding: 6px 0;
    $errorColor : #c71515 ;
    .message{
        color: $errorColor ;
        padding-left: 25px ;
        position: relative;
        &:before{
            content : "!" ;
            display: block ;
            width: 15px ;
            height:15px ;
            background-color: $errorColor;
            position:absolute ;
            left:  0 ;
            top: 3px  ;
            border-radius: 50% ;
            color: #fff ;
            text-align: center ;
            line-height: 17px ;
            font-size: 12px ;
        }
    }
}